<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/galileo</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <!--and will be:  Initial SessionFactory failedorg.hibernate.service.spi.ServiceException: Unable to create requested service-->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">post</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">1000</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.timeout">1800</property>

        <!-- NOTE that after automapping with IDEA property username and password will delete -->

        <property name="show_sql">true</property>
        <!--property name="hibernate.default_schema">public</property-->


        <mapping class="com.jbond.app.galileo.storage.entities.GalileoPackage"/>
<!--        <mapping class="ru.javastudy.hibernate.dao.ContactHobbyDetailEntity"/>-->
<!--        <mapping class="ru.javastudy.hibernate.dao.ContactTelDetailEntity"/>-->
<!--        <mapping class="ru.javastudy.hibernate.dao.HobbyEntity"/>-->
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>